.root{
    font-size: 50px
}

.box::before{
    content: "Hello"; /**/
    color: aliceblue;
    display: block; /*đưa thuộc tính của box là block*/
    width: 50px;
    height: 50px;
    background-color:red;
}
.box::after{
    content: "Goodbye"; /**/
    color:darkgray;
    display: block; /*đưa thuộc tính của box là block*/
    width: 50px;
    height: 50px;
    background-color:blue;
}
/* chữ cái đầu tiên trong h1 */
h1::first-letter{
    /* font-size: var(font-size); */
    font-size: 50px;
}
/* dòng đầu tiên của h1 */
h1::first-line{
    color: brown;
}
/* khi người dùng di chuột vào nhấn giữ kéo sẽ thay đổi */
h1::selection{
    color: aliceblue;
    background-color: blueviolet;
}
