.box{
    width: 10rem;
    height: 10rem;
    background-color: blueviolet;
}
.box:active{
    background-color: #333;
}

h1:hover{
    color: #ff0000;
}

li:first-child{
    color:greenyellow;
}
li:last-child{
    color: crimson;
}

.button{
    padding: 8px 16px;
    color: #fff;
    background-color: #f05123;
    text-decoration: none;
}
.button:hover{
    background-color: rgba(240, 81, 35, 0.8);
}